<header>
    <div class="clue">
        <h1>FooBar Clue</h1>
        <div *ngIf="user === ''">
            <h2>Hello. Please Log In to Start!
            </h2>
        </div>
        <div *ngIf="user !== ''">
            <div class="welcome">
                <h2>Hello {{user}}</h2>
                <br />
                <br />
            </div>
            <div class="flex-row">
                <div class="left">
                    <div>
                        <form>

                            Write a message!:
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Hi!" name="message" value="" [(ngModel)]="message">
                            </mat-form-field>
                            <br>
                            <button mat-button color="primary" type="submit" value="Submit"
                                (click)="sendMessage()">Submit</button>
                            <br />
                            <h3>Latest Message:</h3>
                            {{latestMessage}}
                            <br />
                            <br />
                            <br />
                            <br />

                            <div *ngIf="currentlyInGame">
                                Currently in game:
                                <h3>{{game.title}}</h3>
                                <br />
                                There Are {{game.players.length}} players
                            </div>

                            <div *ngIf="!currentlyInGame">
                                <div *ngFor="let game of games">
                                    <p>
                                        {{game.title}}
                                    </p>
                                    <button mat-button color="primary" (click)="joinGame(game)">Join Game</button>
                                    <button mat-button color="warn" (click)="closeGame(game)">Close Game</button>
                                    <!-- <button (click)="getMurder(game)">Click Me!</button> -->

                                </div>
                            </div>
                        </form>
                        <br />
                    </div>
                </div>
                <div class="right flex-col">
                    <div class="flex-col">
                        <div *ngIf="!currentlyInGame" class="flex-col">


                            <form>
                                Enter Name of Game: <input class="inpput" type="text" name="fname" [(ngModel)]="gameTitle"><br>
                                Enter Players To Start: <input class="inpput" type="number" name="fname" [(ngModel)]="playersToStart"><br>
                                <button mat-button color="primary" type="submit" value="Create a Game"
                                    (click)="createGame()">Create</button>
                            </form>
                            <h1 *ngIf="wonGame">YOU WON!!!</h1>

                        </div>

                        <br />
                        <br *ngIf="currentPlayer['name'] != undefined" />
                        <br *ngIf="currentPlayer['name'] != undefined" />

                        <div *ngIf="currentlyInGame" class="">
                            <div *ngIf="currentPlayer != undefined">
                                <h2>You are currently playing as {{currentPlayer['character']}}</h2>
                                <div class="flex-row">
                                    <div class="card-panel">
                                        <h4>Cards:</h4>
                                        <ul style="list-style-type: none; padding-left: 10px;">
                                            <li>
                                                <div>
                                                    <h4>Characters</h4>
                                                    <div *ngFor="let card of currentPlayer['cards']">
                                                        <div style="padding-left: 7px;"
                                                            *ngIf="characters.indexOf(card) !== -1">
                                                            {{card}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>Weapons</h4>
                                                    <div *ngFor="let card of currentPlayer['cards']">
                                                        <div style="padding-left: 7px;"
                                                            *ngIf="weapons.indexOf(card) !== -1">
                                                            {{card}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>Rooms</h4>
                                                    <div *ngFor="let card of currentPlayer['cards']">
                                                        <div style="padding-left: 7px;"
                                                            *ngIf="rooms.indexOf(card) !== -1">
                                                            {{card}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                        <!-- <div *ngFor="let card of currentPlayer['cards']">
                                            <div>{{card}}</div>
                                        </div> -->
                                        <br />
                                        <br />
                                        <h4>Cards learned:</h4>
                                        <ul style="list-style-type: none; padding-left: 10px;">
                                            <li>
                                                <div>
                                                    <h4>Characters</h4>
                                                    <div *ngFor="let card of newCards">
                                                        <div style="padding-left: 7px;"
                                                            *ngIf="characters.indexOf(card) !== -1">
                                                            {{card}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>Weapons</h4>
                                                    <div *ngFor="let card of newCards">
                                                        <div style="padding-left: 7px;"
                                                            *ngIf="weapons.indexOf(card) !== -1">
                                                            {{card}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>Rooms</h4>
                                                    <div *ngFor="let card of newCards">
                                                        <div style="padding-left: 7px;"
                                                            *ngIf="rooms.indexOf(card) !== -1">
                                                            {{card}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- <div *ngFor="let card of newCards">
                                            <div>{{card}}</div>
                                        </div> -->
                                    </div>
                                    <div class="grid">
                                        <div (click)="clickCell('Study')">
                                            <font color="custom-orange">Study</font>
                                            <li *ngFor="let study of nameStudy">
                                                {{study}}
                                            </li>
                                            <!--<p>{{nameStudy}}</p> -->
                                        </div>
                                        <div class="hallway" (click)="clickCell('Hall A')">
                                            <font color="custom-orange">A</font>
                                            <p>{{nameA}}</p>
                                        </div>
                                        <div (click)="clickCell('Hall')">
                                            <font color="custom-orange">Hall</font>
                                            <li *ngFor="let hall of nameHall">
                                                {{hall}}
                                            </li>
                                            <!-- <p>{{nameHall}}</p> -->
                                        </div>
                                        <div class="hallway" (click)="clickCell('Hall B')">
                                            <font color="custom-orange">B</font>
                                            <p>{{nameB}}</p>
                                        </div>
                                        <div (click)="clickCell('Lounge')">
                                            <font color="custom-orange">Lounge</font>
                                            <li *ngFor="let lounge of nameLounge">
                                                {{lounge}}
                                            </li>
                                            <!-- <p>{{nameLounge}}</p> -->
                                        </div>
                                        <div class="hallway-vert" (click)="clickCell('Hall C')">
                                            <font color="custom-orange">C</font>
                                            <p>{{nameC}}</p>
                                        </div>
                                        <div class=spacer></div>
                                        <div class="hallway-vert" (click)="clickCell('Hall D')">
                                            <font color="custom-orange">D</font>
                                            <p>{{nameD}}</p>
                                        </div>
                                        <div class=spacer></div>
                                        <div class="hallway-vert" (click)="clickCell('Hall E')">
                                            <font color="custom-orange">E</font>
                                            <p>{{nameE}}</p>
                                        </div>
                                        <div (click)="clickCell('Library')">
                                            <font color="custom-orange">Library</font>
                                            <li *ngFor="let library of nameLibrary">
                                                {{library}}
                                            </li>
                                            <!-- <p>{{nameLibrary}}</p> -->
                                        </div>
                                        <div class="hallway" (click)="clickCell('Hall F')">
                                            <font color="custom-orange">F</font>
                                            <p>{{nameF}}</p>
                                        </div>
                                        <div (click)="clickCell('Billiard')">
                                            <font color="custom-orange">Billiard</font>
                                            <li *ngFor="let billiard of nameBilliard">
                                                {{billiard}}
                                            </li>
                                            <!-- <p>{{nameBilliard}}</p> -->
                                        </div>
                                        <div class="hallway" (click)="clickCell('Hall G')">
                                            <font color="custom-orange">G</font>
                                            <p>{{nameG}}</p>
                                        </div>
                                        <div (click)="clickCell('Dining')">
                                            <font color="custom-orange">Dining</font>
                                            <li *ngFor="let dining of nameDining">
                                                {{dining}}
                                            </li>
                                            <!-- <p>{{nameDining}}</p> -->
                                        </div>
                                        <div class="hallway-vert" (click)="clickCell('Hall H')">
                                            <font color="custom-orange">H</font>
                                            <p>{{nameH}}</p>
                                        </div>
                                        <div class=spacer></div>
                                        <div class="hallway-vert" (click)="clickCell('Hall I')">
                                            <font color="custom-orange">I</font>
                                            <p>{{nameI}}</p>
                                        </div>
                                        <div class=spacer></div>
                                        <div class="hallway-vert" (click)="clickCell('Hall J')">
                                            <font color="custom-orange">J</font>
                                            <p>{{nameJ}}</p>
                                        </div>
                                        <div (click)="clickCell('Conservatory')">
                                            <font color="custom-orange">Conservatory</font>
                                            <li *ngFor="let conservatory of nameConservatory">
                                                {{conservatory}}
                                            </li>

                                            <!--	<p>{{nameConservatory}}</p> -->
                                        </div>
                                        <div class="hallway" (click)="clickCell('Hall K')">
                                            <font color="custom-orange">K</font>
                                            <p>{{nameK}}</p>
                                        </div>
                                        <div (click)="clickCell('Ballroom')">
                                            <font color="custom-orange">Ball Room</font>
                                            <li *ngFor="let ballroom of nameBallRoom">
                                                {{ballroom}}
                                            </li>
                                            <!-- <p>{{nameBallRoom}}</p> -->
                                        </div>
                                        <div class="hallway" (click)="clickCell('Hall L')">
                                            <font color="custom-orange">L</font>
                                            <p>{{nameL}}</p>
                                        </div>
                                        <div (click)="clickCell('Kitchen')">
                                            <font color="custom-orange">Kitchen</font>
                                            <li *ngFor="let kitchen of nameKitchen">
                                                {{kitchen}}
                                            </li>
                                            <!-- <p>{{nameKitchen}}</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h4 *ngIf="currentPlayer['name'] != undefined">{{whoseTurn}}'s turn</h4>
                            <h4 *ngIf="currentPlayer['name'] == undefined">The Game hasn't Started. Please Wait</h4>
                            <h2>{{banner}}</h2>

                            <div *ngIf="currentlyInGame">
                                <div *ngIf="isMyTurn()" class="flex-col">
                                    <div *ngIf="!isSuggesting()">
                                        <mat-form-field class="selected-murder">
                                            <mat-label>Characters</mat-label>
                                            <select matNativeControl required [(ngModel)]="selectedCharacter">
                                                <option value="None"></option>
                                                <option value="Miss Scarlet">Miss Scarlet</option>
                                                <option value="Mrs. Peacock">Mrs. Peacock</option>
                                                <option value="Professor Plum">Professor Plum</option>
                                                <option value="Mr. Boddy">Mr. Boddy</option>
                                                <option value="Mrs. White">Mrs. White</option>
                                                <option value="Colonel Mustard">Colonel Mustard</option>
                                            </select>
                                        </mat-form-field>


                                        <mat-form-field class="selected-murder">
                                            <mat-label>Rooms</mat-label>
                                            <select matNativeControl required [(ngModel)]="selectedRoom">
                                                <option value="None"></option>
                                                <option value="Study">Study</option>
                                                <option value="Hall">Hall</option>
                                                <option value="Lounge">Lounge</option>
                                                <option value="Library">Library</option>
                                                <option value="Billiard">Billiard</option>
                                                <option value="Dining">Dining</option>
                                                <option value="Conservatory">Conservatory</option>
                                                <option value="Ballroom">Ballroom</option>
                                                <option value="Kitchen">Kitchen</option>
                                            </select>
                                        </mat-form-field>

                                        <mat-form-field class="selected-murder">
                                            <mat-label>Weapons</mat-label>
                                            <select matNativeControl required [(ngModel)]="selectedWeapon">
                                                <option value="None"></option>
                                                <option value="Wrench">Wrench</option>
                                                <option value="Candle Stick">Candle Stick</option>
                                                <option value="Rope">Rope</option>
                                                <option value="Lead Pipe">Lead Pipe</option>
                                                <option value="Dagger">Dagger</option>
                                                <option value="Revolver">Revolver</option>
                                            </select>
                                        </mat-form-field>
                                    </div>

                                    <div>
                                        <div *ngIf="isInRoom() && !isSuggesting()">
                                            <!-- AND is not choosing a card to show -->
                                            <button *ngIf="!hasSuggested" class="selected-murder" mat-button
                                                color="primary" (click)="makeSuggestion()">Make Suggestion
                                            </button>
                                            <button class="selected-murder" mat-button color="primary"
                                                (click)="makeAccusation()">Make Accusation
                                            </button>
                                        </div>

                                        <div *ngIf="isSuggesting()">
                                            <!--<p>	suggestedCharacter !== '' || suggestedRoom !== '' || suggestedWeapon !== ''"> </p>
											<p>char - {{suggestedCharacter}} room - {{suggestedRoom}} weapon - {{suggestedWeapon}} </p>
											-->
                                            <button *ngIf="getCharCard() !== ''" class="selected-murder" mat-button
                                                color="primary" (click)="addCharCard()">Show {{getCharCard()}}</button>
                                            <button *ngIf="getRoomCard() !== ''" class="selected-murder" mat-button
                                                color="primary" (click)="addRoomCard()">Show {{getRoomCard()}}</button>
                                            <button *ngIf="getWeaponCard() !== ''" class="selected-murder" mat-button
                                                color="primary" (click)="addWeaponCard()">Show
                                                {{getWeaponCard()}}</button>
                                        </div>

                                        <br />
                                        <br />
                                        <button class="selected-murder" mat-button color="primary"
                                            (click)="endTurn()">End Turn</button>
                                    </div>

                                </div>
                                <br />
                                <br />
                                <br />
                                <p>
                                    <button mat-button color="error" (click)="closeGame(game)">Close Game</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>